.clients__section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__title {
  margin-bottom: 30px;
  font-weight: 700;

  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.clients__items {
  display: flex;
  // width: 170px;
  // height: 92px;
  width: 210px;
  height: 92px;

  @media screen and (min-width: 768px) {
    width: 226px;
    height: 92px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    height: 92px;
  }
}

/* .clients-items:not(:last-child) {
  margin-right: 30px;
} */

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}

.clients__icon {
  fill: currentColor;
}
