.footer {
  background-color: $footer-background-color;
  padding: 60px 0;

  &-container {
    text-align: center;
    // display: flex;
    // align-items: baseline;
    // justify-content: space-between;
    // width: 1200px;
    // margin: 0 auto;
    // padding: 0 15px;

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
      // display: flex;
      // align-items: baseline;
      // flex-wrap: nowrap;
      // // justify-content: space-between;
      // width: 1200px;
      // margin: 0 auto;
      // padding: 0 15px;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
    }
  }
}

.footer__adress__container {
  // display: flex;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-left: 76px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 0;
    margin-bottom: 0;
    // display: flex;
  }
}

.footer__logo {
  @extend .logo;
  &--color {
    color: $light-color;
  }
}
.address {
  font-style: normal;
  margin-top: 20px;
}

.footer-contact__items:not(:last-child) {
  // margin-bottom: 9px;
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer__address,
.footer__contact {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $light-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .footer__contact:last-child {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

// Join

.footer__contact {
  color: $footer-contact-color;
}

.footer-icon__container {
  margin-bottom: 60px;
  // margin-left: 75px;

  @media screen and (min-width: 768px) {
    margin-left: 165px;
    padding-right: 89px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 75px;
    padding-right: 0;
  }
}

.footer-soc__text {
  // align-items: center;
  // justify-content: center;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $light-color;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.footer-soc__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-soc__items {
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-soc__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  color: $light-color;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $light-color;
  }
}

.footer-soc__icons {
  fill: currentColor;
}

/* Footer-EMAIL */

.subscribe-form {
  text-align: center;
  display: inline-block;

  @media screen and (max-width: 479px) {
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
    margin-left: 93px;
    width: 570px;
    height: 86px;
  }
}

.footer__form {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 15px;

  @media screen and (max-width: 479px) {
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    align-items: baseline;
    padding: 0;
  }

  & label {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $light-color;
  }

  & input {
    padding: 15px 16px;
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $footer-background-color;
    outline: none;
    color: $light-color;
    margin-bottom: 20px;

    @media screen and (max-width: 479px) {
      width: 100%;
    }

    @media screen and (min-width: 1200px) {
      width: 358px;
      margin-bottom: 0;
    }

    &::placeholder {
      font-size: 16px;
      line-height: calc(20 / 16);
      /* padding-left: 16px; */
      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

.footer-sub__btn {
  @extend .btn;
  padding: 10px 28px;
  align-items: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 12px;
  }

  &:hover,
  &:focus {
    background-color: $hero-btn-color;
  }
}

.subscribe__icon {
  fill: $light-color;
  margin-left: 10px;
}
