.header__border {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-contact__list {
  display: flex;
  align-items: center;
  margin-left: 96px;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 50px;
    align-items: center;
    margin-left: 315px;
  }
}

.header__logo {
  @extend .logo;
  &--color {
    color: $logo-color;
  }
}

.menu-open {
  border: none;
  background-color: transparent;
  color: $main-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-icon {
  fill: currentColor;
}

.header-wrapper {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.nav__link,
.header-contact__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  color: $main-text-color;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: calc(16 / 14);
}
.nav__link--current {
  color: $accent-color;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}

.header-contact__link {
  color: $secondary-text-color;
  padding: 0;
  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}

.header-contact__link:focus,
.header-contact__link:hover,
.nav__link:hover,
.nav__link:focus {
  color: $accent-color;
}

.header-icon__mail {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.header-icon__tel {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.js-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: $main-background-color;
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // visibility: hidden;
  opacity: 0;
  &.is-open {
    opacity: 1;
    transform: translateX(0);
  }
}

.js-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu-icon__close {
  fill: currentColor;
}
.menu-nav {
}
.menu-nav-list {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.menu-nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: $main-text-color;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu-contact__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.menu-contact__link {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $secondary-text-color;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu-mail {
  font-size: 24px;
  line-height: calc(28 / 24);
}

.menu-soc {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-soc-items {
  position: relative;
}
.menu-soc-items:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  // border-right: 1px solid rgba(33, 33, 33, 0.2);
  background-color: rgba(33, 33, 33, 0.2);
  width: 1px;
  height: 22px;
}

.menu-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: $accent-color;
  text-decoration: none;
}

.menu-nav-link--current,
.current {
  color: $accent-color;
}
