.portfolio-btn__list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.portfolio__btn {
  padding: 6px 25px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  background-color: $secondary-background-color;
  color: $main-text-color;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $light-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-card__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-card__item {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-card__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-card__link:hover .porfolio-card__overlay,
.portfolio-card__link:focus .porfolio-card__overlay {
  transform: translateY(0);
}

.portfolio-card__thumb {
  position: relative;
  overflow: hidden;
}

.porfolio-card__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porfolio-card__overlay__text {
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: #ffffff;
}

.porfolio-card__title__descr {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio-card__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: $main-text-color;
}
.portfolio-card__text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}
