$main-text-color: #212121;
$secondary-text-color: #757575;
$main-background-color: #ffffff;
$light-color: #ffffff;
$accent-color: #2196f3;
$footer-background-color: #2f303a;
$logo-color: #000000;
$hero-btn-color: #188ce8;
$secondary-background-color: #f5f4fa;
$footer-contact-color: rgba(255, 255, 255, 0.6);
